<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title th:include="fragments/fragment :: headerFragment('Add Success')"></title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
			<div class="card text-center">
			  <div class="card-header">
			    
			  </div>
			  <div class="card-body">
			    <h4 class="card-title">Message!</h4>
			    <p class="card-text" th:text="${message}"></p>
			  </div>
			  <div class="card-footer text-muted">
			    
			  </div>
			</div>
		</div>
	</body>

	</html>